@font-face {
  font-family: "Fugaz";
  src: url("./assets/fonts/FugazOne-Regular.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(236, 236, 236);
}

header {
  background: linear-gradient(0deg, #ff00aa, #ff9879);
  width: 100%;
  min-height: 25vh;
  color: aliceblue;
}

.logo {
  display: flex;
  position: relative;
  top: 20px;
  margin-left: 2%;
  align-items: center;
}

.logo svg {
  margin-right: -10px;
  height: 70px;
}

.logo h1 {
  font-family: "Fugaz";
  font-size: 40px;
}

main {
  display: flex;
  justify-content: center;
  gap: 3%;
  margin-top: -10vh;
  padding: 0 3% 0 3%;
  width: 100%;
}

.form-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 55%;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  width: 100%;
  min-height: 8vh;
  margin: 10px;
  padding: 2% 4% 2% 4%;
  box-shadow: 0 0 10px rgba(66, 66, 66, 0.3);
}

.accordion svg {
  width: 3vw;
}

.accordin-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.drop-button {
  width: 30px;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.button-open {
  transform-origin: center;
  transform: rotateX(180deg);
}

.accordion-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.accordion-title h1 {
  font-size: 1.8vw;
  color: rgb(90, 90, 90);
}

.accordion-content {
  width: 90%;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition: all 0.2s ease;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

label {
  width: 95%;
  margin-bottom: 10px;
  font-weight: 600;
  color: rgb(90, 90, 90);
  padding-left: 10px;
}

input,
textarea {
  background-color: rgb(236, 236, 236);
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 10px rgba(66, 66, 66, 0.3);
  width: 95%;
  height: 5vh;
  margin-bottom: 10px;
  outline: none;
  padding-left: 10px;
  transition: transform 0.1s ease;
}

textarea {
  min-height: 12vh;
  padding-top: 10px;
  resize: none;
}

input:hover,
input:focus {
  transform: scale(102%);
}

.open {
  max-height: 100vh;
  opacity: 1;
}

.save {
  background: linear-gradient(40deg, #ff00aa, #ff9233);
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1rem;
  border: none;
  box-shadow: 0 0 10px rgba(66, 66, 66, 0.3);
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  align-self: flex-end;
  margin: 10px 13px 10px 10px;
  transition: transform 0.2s ease;
}

.save:hover {
  transform: scale(105%);
}

.edit {
  display: none;
  background: rgb(236, 236, 236);
  color: rgb(72, 72, 72);
  font-weight: 600;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 40px;
  margin-right: calc(5% + 13px);
  border-radius: 20px;
  align-self: flex-end;
}

.edit:hover {
  background: rgb(218, 218, 218);
}

.visible {
  display: block;
}

.date-input {
  width: 120px;
  align-self: flex-start;
  margin-left: 2.5%;
  padding-right: 10px;
}

.cv-preview {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(66, 66, 66, 0.3);
  background-color: rgb(255, 255, 255);
  width: 45%;
  height: 95vh;
  margin-bottom: 10px;
  padding: 3%;
}

.general-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.general-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.general-footer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.education-section,
.professional-section {
  border-top: 2px solid black;
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
}

.school-info {
  display: flex;
}

.education-info {
  display: flex;
  flex-direction: column;
}

.date-info {
  display: flex;
  flex-direction: column;
}

.job-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.job-info div {
  display: flex;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.description {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}
