* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 10px;
  background-color: rgb(236, 236, 236);
}

header {
  background-color: black;
  width: 100%;
  height: 12vh;
  color: aliceblue;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;

  width: 100%;
  height: 100vh;
}

.sidebar {
  background-color: rgb(76, 56, 56);
  width: 100%;
  height: 100vh;
}

.dropdown {
  background-color: aliceblue;
  width: 60%;
  height: 10%;
  margin: 10px;
}

.cv-preview {
  background-color: rgb(255, 255, 255);
  width: 50%;
  height: 100vh;
}

form {
  background-color: blue;
}
