* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(236, 236, 236);
}

header {
  background: linear-gradient(0deg, #ff00aa, #ff6a64);
  width: 100%;
  min-height: 25vh;
  color: aliceblue;
}

main {
  display: flex;
  justify-content: center;
  gap: 3%;
  margin-top: -10vh;
  padding: 0 3% 0 3%;
  width: 100%;
}

.sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 55%;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  width: 100%;
  min-height: 10vh;
  margin: 10px;
  padding: 4%;
  box-shadow: 0 0 10px rgba(66, 66, 66, 0.3);
}

.dropdown svg {
  width: 3vw;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.drop-button {
  width: 30px;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.button-open {
  transform-origin: center;
  transform: rotateX(180deg);
}

.menu-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-title h1 {
  font-size: 1.8vw;
  color: rgb(90, 90, 90);
}

.menu-content {
  width: 90%;
  overflow: hidden;
  opacity: 0;
  max-height: 0;

  transition: all 0.2s ease;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

label {
  width: 95%;
  margin-bottom: 10px;
  font-weight: 600;
  color: rgb(90, 90, 90);
  padding-left: 10px;
}

input {
  background-color: rgb(236, 236, 236);
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 10px rgba(66, 66, 66, 0.3);
  width: 95%;
  height: 4vh;
  margin-bottom: 10px;
  padding-left: 10px;
  transition: transform 0.1s ease;
}

input:hover,
input:focus {
  transform: scale(102%);
  outline: none;
}

.open {
  max-height: 100vh;
  opacity: 1;
}

.save {
  border: none;
  box-shadow: 0 0 10px rgba(66, 66, 66, 0.3);
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  float: right;
  margin: 10px 13px 10px 10px;
  transition: transform 0.2s ease;
}

.save:hover {
  transform: scale(105%);
}

.cv-preview {
  box-shadow: 0 0 10px rgba(66, 66, 66, 0.3);
  background-color: rgb(255, 255, 255);
  width: 45%;
  height: 95vh;
}
