* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(236, 236, 236);
}

header {
  background: linear-gradient(0deg, #ff00aa, #ff6a64);
  width: 100%;
  min-height: 25vh;
  color: aliceblue;
}

main {
  display: flex;
  justify-content: center;
  gap: 3%;
  margin-top: -10vh;
  padding: 0 3% 0 3%;
  width: 100%;
}

.sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 55%;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  width: 100%;
  min-height: 10vh;
  margin: 10px;
  padding: 4%;
}

.dropdown svg {
  width: 3vw;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.drop-button {
  width: 30px;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.button-open {
  transform-origin: center;
  transform: rotateX(180deg);
}

.menu-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-title h1 {
  font-size: 1.8vw;
  color: rgb(90, 90, 90);
}

.menu-content {
  overflow: hidden;
  max-height: 0;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  height: 4vh;
}

.open {
  max-height: 200px;
}

.cv-preview {
  background-color: rgb(255, 255, 255);
  width: 45%;
  height: 100vh;
}
