* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(236, 236, 236);
}

header {
  background: linear-gradient(0deg, #fa236a, #fa5751);
  width: 100%;
  min-height: 25vh;
  color: aliceblue;
}

main {
  display: flex;
  justify-content: center;
  gap: 3%;
  margin-top: -10vh;
  padding: 0 3% 0 3%;
  width: 100%;
}

.sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 55%;
}

.dropdown {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  width: 100%;
  min-height: 13vh;
  margin: 10px;
}

.menu-content {
  overflow: hidden;
  max-height: 0;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  height: 4vh;
}

.open {
  max-height: 200px;
}

.cv-preview {
  background-color: rgb(255, 255, 255);
  width: 45%;
  height: 100vh;
}
